@import 'src/variables';

.menu-nav-header {
  padding-top: $nav-font-size;

  &__logotype {
    font-size: $nav-font-size;

    &:hover {
      color: $decor-color;
    }
  }

  &__menu-btn {
    font-size: $nav-font-size;
    text-align: right;

    &:hover {
      color: $decor-color;
    }
  }
}
