@import 'src/variables';

.certificates {
  height: 15vh;
  &__switcher {
    font-size: $switcher-font-size;
    font-weight: bold;
  }

  &__switcher:hover {
    color: $decor-color;
  }

  &__list {
    &__item {
      margin-top: 8px;
      transition: 0.5s;
    }

    &__item:hover {
      color: $decor-color;
      transform: translateX(2vw);
    }
  }
}