.error-indicator {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
  background-image: url("../images/error-bot.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &__text {
    font-size: calc(.7rem + 1vw);
  }
}