@import 'src/variables';

.terminal {
  margin-top: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 4vh;
  background-color: $terminal-bg-color;

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__row:not(:last-of-type) {
    margin-bottom: 2vh;
  }

  &__col {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
  }
}

.terminal-pc-name {
  font-weight: bold;
  color: $decor-color;
}

.underscore-cursor {
  font-weight: bold;
  padding-left: 1vh;
  animation: blinker .9s infinite ease;
}

.terminal-command {
  padding-left: 1vh;
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

@media (max-width: 500px) {
  .terminal {
    margin-top: 6vh;
    font-size: calc(.7rem + 1.5vw);

    &__line:first-child {
      flex-direction: column;
    }
  }
}