@import "src/variables";

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 89vh;

  &__html-decor {
    position: absolute;
    padding: $html-decor-padding;
    font-size: $s-html-decor-font-size;
    color: $decor-color;
    opacity: 0.3;
    z-index: -1;
  }

  &__text {
    width: $s-main-page-width;
    height: $s-main-page-height;
    padding: $block-padding;
    &_greeting {
      font-size: $s-greeting-font-size;
    }

    &_description {
      display: none;
    }
  }
}

@media (min-width: 700px) {
  .main-content {
    &__html-decor {
      font-size: $l-html-decor-font-size;
    }

    &__text {
      width: $l-main-page-width;
      &_greeting {
        font-size: $l-greeting-font-size;
      }

      &_description {
        display: block;
        font-size: $description-font-size;
      }
    }

  }
}

