@import "src/variables";

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 89vh;

  &__html-decor {
    font-size: $s-html-decor-font-size;
    color: $decor-color;
    opacity: 0.3;
    margin-left: 10vw;
  }

  &__greeting {
    position: absolute;
    z-index: 100;
    font-size: $s-greeting-font-size;
  }

  &__description {
    display: none;
  }
}

@media (min-width: 700px) {
  .main-content {
    &__html-decor {
      align-self: center;
      font-size: $l-html-decor-font-size;
    }

    &__greeting {
      font-size: $l-greeting-font-size;
      top: 30vh;
      left: 30vw;
    }

    &__description {
      display: block;
      position: absolute;
      top: 30vh;
      left: 30vw;
      z-index: 100;
      font-size: $description-font-size;
      margin-top: 120px;
    }
  }
}

