@import "src/variables";

.about-page {
  height: 80vh;

  &__content {
    margin-top: 6vh;
    margin-bottom: 3.5vh;
    height: 70vh;

    &__portrait {
      height: 28vh;
      background-image: url("../../../images/portrait.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__text {
      margin-top: 1vh;
      font-size: calc(.5rem + 1.7vw);
    }

    &__decor {
      display: none;
    }
  }

  &__links {
    height: 4vh;

    &__resume {
      font-size: calc(.5rem + 1.7vw);

      &:hover {
        color: $decor-color;
      }
    }

    &__social {
      display: none;
    }
  }
}

@media (min-width: 1100px) {
  .about-page {
    &__content {
      height: 55vh;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin-top: 10vh;
      margin-bottom: 2vh;

      &__portrait {
        width: 66vh;
        height: 35vh;
      }

      &__text {
        margin-top: 4vh;
        margin-right: 10vh;
        font-size: calc(.5rem + .5vw);
      }

      &__decor {
        display: block;
        position: absolute;
        z-index: -100;
        top: 17vh;
        right: 7vw;
        font-size: calc(1rem + 0.6vw);
        color: $decor-color;
        opacity: 0.4;
      }
    }

    &__links {
      &__resume {
        display: none;
      }

      &__social {
        display: block;
      }
    }
  }
}