@import 'src/variables';

.empty-page {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
  background-image: url("../../../images/bot.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &__text {
    font-size: $portfolio-text-font-size;
  }
}