//sizes
$nav-font-size: 1.4rem;
$links-font-size: 1.2rem;

//colors
$main-color: #1E1E1E;
$font-color: white;
$decor-color: #6395B0;
$terminal-bg-color: #252526;
$scrollbar-thumb-color: #8c8b8b;
$comments-color: #465f3a;