@import 'src/variables';
@import 'src/styles/scrollbar';
@import 'src/styles/helpers';

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: $main-color;
    color: $font-color;
}

#root {
    height: 100%;
}

@import "./reset.css";